[package]
name = "xtask"
version = "0.1.0"
edition.workspace = true
publish = false

[package.metadata]

[package.metadata."docs.rs"]
rustdoc-args = ["--html-in-header", "arborium-header.html"]

[dependencies]
